/* javascript missing */


#ic-javascript-missing {
	position:				fixed;
	top:					0;
	right:					0;
	left:					0;
	bottom:					0;
	background-image:		url(/images/logo.svg);
	background-size:		3rem auto;
	background-position:	50% 2rem;
	background-repeat:		no-repeat;
	padding-top:			7rem;
	background-color:		#fff;
	text-align:				center;
	z-index:				99999999;
}






ic-loading-screen{
	display:				block;
	position:				fixed;
	top:					0;
	bottom:					0;
	left:					0;
	right:					0;
	font-size:				initial;
	z-index:				999;	
	background-color:		#fff;
	transition-duration:	1000ms;
	transition-timing-function: ease-in;
	box-shadow:				0 0 2rem rgba(0,0,0,0.2);
}

ic-loading-screen.ic-hide {
	transition-property:	transform;
	transform:				translateX(-100%);
}

ic-loading-screen h1 {
	text-align:				center;
	margin-top:				1em;
	margin-bottom:			1em;
}




ic-loading-screen .spinner {
	margin:					0 auto;
	margin-top:				2em;
	margin-bottom:			0.5em;
	width:					100%;
	font-size:				3em;
}

ic-loading-screen .ng-hide {
	display:				none;
}

ic-loading-screen .error {
	text-align:				center;
	color:					red;
	width:					50%;
	margin:					1rem auto;
}




ic-text-logo{
	font-family:			Roboto, sans-serif !important;
	word-spacing: 			0 !important;
}

ic-text-logo :first-child{
	font-weight:			bold !important;
}

ic-text-logo :last-child{
	font-weight:			normal !important;
}








/* icSpinner */


ic-spinner {
	position:				relative;
	display:				block;
	width:					1em;
	height:					1em;
	margin:					0 auto;
	overflow:				hidden;
	opacity:				0;
	transition:				opacity 600ms ease-in;
}

ic-spinner.active{
	opacity:				1;
}


ic-spinner .foreground{
	position:				absolute;
	top:					0;
	left:					0;
	width:					0.5em;
	height:					0.5em;

	animation:				spin 1000ms infinite linear;
	-webkit-animation:		spin 1000ms infinite linear;

	border-width:			0.25rem;
	border-color:			transparent transparent transparent #015f64;
	border-style:			solid;
	border-radius:			100%;

	z-index:				5;
}



ic-spinner .background{	
	position:				absolute;
	top:					0;
	left:					0;
	width:					1em;
	height:					1em;
	z-index:				0;

}


ic-spinner .background:after {
	transform:				rotate(135deg);
}

@keyframes spin {

	0% { 
		transform:			rotate(0deg);
	}

	100% { 
		transform:			rotate(360deg);
	}

}

@-webkit-keyframes spin {

	0% { 
		transform:			rotate(0deg);
	}

	100% { 
		transform:			rotate(360deg);
	}

}





/*prosper*/


ic-text-logo * {
	display:				none !important;
}

ic-text-logo {
	display:				block;
	background:				url('../images/no-bg_Prosper.png');
	height:					4rem;
	width:					18rem;
	background-size:		contain;
	background-position:	0 50%;
	background-repeat:		no-repeat;
}

ic-loading-screen ic-text-logo {
	margin:					auto;
}

.logo {
	background-image:		none !important;
}


